<!DOCTYPE html>

<html data-ng-app="myapp">
<head>
<!-- link css stylesheet first -->
<!-- <link rel="stylesheet" type="text/css" href="/style/style.css"> -->
<!-- load jQuery
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

use jQuery to put the layout information in the div with id="layout"
<script>
$(function(){
  $("#layout").load("/layout.html");
});
</script>
 -->
<!-- load page-specific javascript -->
<script src="/script/angular.min.js"></script>
<script src="/script/angular-cookies.min.js"></script>
<script src="/script/myapp.js"></script>
<script src="/script/layout.js"></script>
<script src="/script/addrecipt.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<div id="wrapper">
    <layout></layout>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id = "content" ng-controller="AddRecipeController">
                <h2>Recipes</h2>
                <h3>Add a recipe</h3>
                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Name:</label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "rdata.name" class="form-control col-sm-10"/> {{ name }}</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Image URL:</label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "rdata.imgurl" class="form-control"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Prep time:</label>
                        <div class="col-sm-10"><input type="text" ng-model="rdata.prep" class="form-control"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Cook time:</label>
                        <div class="col-sm-10"><input type="text" ng-model="rdata.cook" class="form-control"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Difficulty:</label>

                        <div class="col-sm-10">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{rdata.difficulty}}
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="dif in difficultylevels"><a ng-click="difficultyclick(dif)">{{dif}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Category:</label>
                        <div class="col-sm-10">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{rdata.category}}
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li ng-repeat="item in categories"><a ng-click="categoryclick(item)">{{item}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
                    <h4>Add an ingredient: </h4>

                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Search:<br></label>
                        <div class="col-sm-10"><input type="text" ng-model="userSelection" class="form-control"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2"><small class="text-muted">Click on the ingredient you would like to add</small></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat="ing in allingredients | filter:userSelection | limitTo:10" ng-click="setselected(ing)" class="list-group-item">
                                    <div>
                                    {{ing}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 form-control-label">
                            How much of this ingredient do you need?
                            <small class="text-muted">(e.g., 3 cups)</small>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">{{selected}}: <br></label>
                        <div class="col-sm-4"><input type="text" ng-model="newAmount" class="form-control"></div>
                        <div class="col-sm-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{newMeasurement}}
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                    <li ng-repeat="unit in units"><a ng-click="unitclick(unit)">{{unit}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5"><input id="otherinput" type="text" ng-model="other" class="form-control"/></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10  col-sm-offset-2">
                            <input type="submit" ng-click="addIngredient(selected, newAmount, newMeasurement)" value="Add to recipe"class="btn btn-secondary" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat = "ing in inrecipe" class="list-group-item">
                                    <div>
                                       <label class="col-sm-8 form-control-label">{{ing.name}}: {{ing.amount}} {{ing.measurement}}</label>
                                       <input type="submit" ng-click="deleteIngredient(ing)" value="Remove" class="btn btn-secondary"/>
                                    </div>
                               </li>
                            </ul>
                        </div>
                    </div>
                </form>
                    <h4>Directions: </h4>

                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Add each step separately:</label>
                        <div class="col-sm-10"><input type="text" ng-model="newDirection" class="form-control"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2"><input type="submit" ng-click="addDirection(newDirection)" value="Add step" class="btn btn-secondary"/></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat = "dir in directions" class="list-group-item">
                                    <div>
                                        <label class="col-sm-6 form-control-label">{{dir}}</label>
                                        <input type="submit" ng-click="deleteDirection(dir)" value="Remove" class="btn btn-secondary">
                                        <input type="submit" ng-click="moveUp(dir)" value="Move up" class="btn btn-secondary">
                                        <input type="submit" ng-click="moveDown(dir)" value="Move down" class="btn btn-secondary">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="button" ng-click="sendRecipe()" class="btn btn-primary">Save Recipe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
