<div>

    <h2>Recipes</h2>
    <h3>Edit a recipe</h3>

    <form class="col-sm-11 col-sm-offset-1">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label"> Name: </label>
            <div class="col-sm-10"><input type="text" data-ng-model = "newrdata.name" ng-init="newrdata.name=rdata.name" class="form-control"/></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Image URL: </label>
            <div class="col-sm-10"><input type="text" data-ng-model = "newrdata.imgurl" ng-init="newrdata.imgurl=rdata.imgurl" class="form-control"/></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Prep time: </label>
            <div class="col-sm-10"><input type="text" ng-model="newrdata.prep" ng-init="newrdata.prep=rdata.prep" class="form-control"/></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Cook time: </label>
            <div class="col-sm-10"><input type="text" ng-model="newrdata.cook" ng-init="newrdata.cook=rdata.cook" class="form-control"/></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Difficulty: </label>
            <select ng-model="newrdata.difficulty" ng-init="newrdata.difficulty=rdata.difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select><br>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Category:</label>
            <select ng-model="newrdata.category" ng-init="newrdata.category=rdata.category">
                <option value="breakfast">breakfast</option>
                <option value="dessert">dessert</option>
                <option value="main course">main course</option>
                <option value="side">side</option>
                <option value="soup">soup</option>
                <option value="salad">salad</option>
                <option value="snack">snack</option>
                <option value="other">other</option>
            </select><br>
        </div>
    </form>
    <h4>Add an ingredient: </h4>
    <form class="col-sm-11 col-sm-offset-1">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Search:<br></label>
            <div class="col-sm-10"><input type="text" ng-model="userSelection" class="form-control"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2"><small class="text-muted">Click on the ingredient you would like to add</small></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2">
                <ul class="list-group">
                    <li ng-repeat="ing in allingredients | filter:userSelection | limitTo:5"  ng-click="selectIngredient(ing)" class="list-group-item">
                        <div>
                        {{ing}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 form-control-label">
                How much of this ingredient do you need?
                <small class="text-muted">(e.g., 3 cups)</small>
            </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">{{selected}}: <br></label>
            <div class="col-sm-4"><input type="text" ng-model="newAmount" class="form-control"></div>
            <div class="col-sm-1">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{newMeasurement}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li ng-repeat="unit in units"><a ng-click="unitclick(unit)">{{unit}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5"><input id="otherinput" type="text" ng-model="other" class="form-control"/></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10  col-sm-offset-2">
                <input type="submit" ng-click="addIngredient(selected, newAmount, newMeasurement)" value="Add to recipe"class="btn btn-secondary" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2">
                <ul class="list-group">
                    <li  ng-repeat = "ing in inrecipe" class="list-group-item">
                        <div>
                           <label class="col-sm-8 form-control-label">{{ing.name}}: {{ing.amount}} {{ing.measurement}}</label>
                           <input type="submit" ng-click="deleteIngredient(ing)" value="Remove" class="btn btn-secondary"/>
                        </div>
                   </li>
                </ul>
            </div>
        </div>
    </form>
    <h4>Ingredients already in recipe:</h4>
    <form class="col-sm-11 col-sm-offset-1">
        <div class="col-sm-10 col-sm-offset-2">
            <ul class="list-group">
                <li  ng-repeat = "ing in ingredients" class="list-group-item">
                    <div>
                       <label class="col-sm-8 form-control-label">{{ing.name}} {{ing.amount}} {{ing.measurement}}</label>
                       <input type="submit" ng-click="deleteIngredient(ing)" value="Remove" class="btn btn-secondary">
                    </div>
               </li>
            </ul>
        </div>
    </form>
    
    <h4>Directions: </h4>

    <form class="col-sm-11 col-sm-offset-1">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Add each step separately:</label>
            <div class="col-sm-10"><input type="text" ng-model="newDirection" class="form-control"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2"><input type="submit" ng-click="addDirection(newDirection)" value="Add step" class="btn btn-secondary"/></div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10 col-sm-offset-2">
                <ul class="list-group">
                    <li  ng-repeat = "dir in directions" class="list-group-item">
                        <div>
                            <label class="col-sm-6 form-control-label">{{dir}}</label>
                            <input type="submit" ng-click="deleteDirection(dir)" value="Remove" class="btn btn-secondary">
                            <input type="submit" ng-click="moveUp(dir)" value="Move up" class="btn btn-secondary">
                            <input type="submit" ng-click="moveDown(dir)" value="Move down" class="btn btn-secondary">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group row">
            <button type="button" ng-click="sendChanges()" class="btn btn-primary">Save Recipe</button>
        </div>
    </form>

</div>
