<body>
    <form>
        <div class="form-group row">
            <input type="submit" ng-click="addFavorite()" value="Add to favorites" class="btn btn-secondary"><br>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Rate this recipe:</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{userrating}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="item in ratings"><a ng-click="ratingclick(item)">{{item}} stars</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <h2>{{rdata.name}}</h2> 
    <div class="col-sm-12">
        <img ng-src="{{rdata.imgurl}}" style="width:180px;height:128px;" class="img-rounded">
    </div>

    <br>
    
    <div class="col-sm-12">
        <ul class="list-group">
            <li class="list-group-item">
                <label class="col-sm-8">Rating:     </label> {{rdata.rating}} stars  
            </li>
            <li class="list-group-item">
                <label class="col-sm-8">Prep Time:  </label> {{rdata.prep}}          
            </li>
            <li class="list-group-item">
                <label class="col-sm-8">Cook Time:  </label> {{rdata.cook}}          
            </li>
            <li class="list-group-item">
                <label class="col-sm-8">Difficulty: </label> {{rdata.difficulty}}    
            </li>
            <li class="list-group-item">
                <label class="col-sm-8">Category:   </label> {{rdata.category}}      
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <h3>Ingredients</h3>
        <ul class="list-group">
            <li  ng-repeat="ing in ingredients" class="list-group-item">
                <div>
                    <label class="col-sm-8">{{ing.name}} {{ing.amount}} {{ing.measurement}}</label>
                    <input type="submit" ng-click="addToCart(ing)" value="Add to shopping list" class="btn btn-secondary">
                </div>
            </li>
        </ul>

        <input type="submit" ng-click="addAllToCart()" value="Add all to shopping list" class="btn btn-secondary">

        <h3>Directions: </h3>
        <ul class="list-group">
            <li  ng-repeat="dir in directions" class="list-group-item">
                {{dir}}
            </li>
        </ul>

        <button ng-click="sendPantryIngredients()" class="btn btn-primary">Save shopping list changes</button><br>
        <a href="#/recipe/edit/{{recipeId}}"><button class="btn btn-secondary">Edit Recipe</button></a>
    </div>
  
</body>
