<!-- to be included at the top of each page. This is information we intend to persist so that all the pages look similar. Make sure to use the right JS file for this part! -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/style/bootstrap.min.css">
<link rel="stylesheet" href="/style/simple-sidebar.css">

    <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!-- <button ng-click="logout()" type="button" >Logout</button><br> -->
                <li class="sidebar-brand">
                    <a href="#">
                        <div title="a recipe database tailored to your small pantry">SmallRecipes</div>
                    </a>
                </li>
                <li><button ng-click="logout()" type="button" class="btn btn-secondary">Logout</button><br></li>
                <li><a href="/">                        Home                </a></li>
                <li><a href="/addingredient">           Add Ingredient      </a></li>
                <li><a href="/addrecipe">               Add Recipe          </a></li>
                <li><a href="/explore/#/explore">       Explore New Recipes </a></li>
                <li><a href="/favorites/#/favorites">   Favorites           </a></li>
                <li><a href="/pantry">                  Pantry              </a></li>
                <li><a href="/profile">                 Profile             </a></li>
                <li><a href="/search/#/search">         Search              </a></li>
                <li><a href="/shoppingcart">            Shopping List       </a></li>
                <li><a href="/smartlist">               Smart Shopping List </a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
