/* Everything that affects the look of the page should go here. 
 * Only put rules in other files if it only applies to *that* 
 * html file and cannot possibly apply to any other file.
 */

body {
    background-color: lightblue;
    padding-left: 50pt;
}

h1 {
    color: navy;
    margin-left: 20px;
}
