<div>

    <h2>Search for a recipe</h2>

    <form class="col-sm-11 col-sm-offset-1">
        <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="usePantry"> only use ingredients from my pantry
        </label>
        </div>
    </form>

    <h3>What ingredients should recipes include and not include?</h3>
    <form class="col-sm-11 col-sm-offset-1">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Search:</label>
            <div class="col-sm-10"><input type="text" ng-model="userSelection" class="form-control"></div>
        </div>
        <div class="form-group row">
            <ul class="list-group">
                <li ng-repeat="ing in ingredients | filter:userSelection | limitTo:5" class="list-group-item">
                    <label class="col-sm-8">{{ing}}</label>
                    <input type="submit" ng-click="addToInclude(ing)" value="Include" class="btn btn-secondary">
                    <input type="submit" ng-click="addToExclude(ing)" value="Don't Include" class="btn btn-secondary">
                </li>
            </ul>
        </div>
    </form>

    <h3>Include</h3>
        <ul class="list-group col-sm-offset-1">
            <li  ng-repeat="ing in include" class="list-group-item">
                <div>
                    <label class="col-sm-8">{{ing}}</label>
                    <input type="submit" ng-click="removeFromInclude(ing)" value="Remove" class="btn btn-secondary">
                </div>
            </li>
        </ul>

    <h3>Don't Include</h3>
        <ul class="list-group col-sm-offset-1">
            <li  ng-repeat="ing in exclude" class="list-group-item">
                <div>
                    <label class="col-sm-8">{{ing}}</label>
                    <input type="submit" ng-click="removeFromExclude(ing)" value="Remove" class="btn btn-secondary">
                </div>
            </li>
        </ul>

    <h3>What type of recipe are you looking for?</h3>
    <form class="col-sm-11 col-sm-offset-1">

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Category:</label>
            <div class="col-sm-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{category}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="item in categories"><a ng-click="categoryclick(item)">{{item}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Name:</label>
            <div class="col-sm-6"><input type="text" ng-model="namelike" class="form-control"></div>
            <div class="col-sm-4"><button type="button" ng-click="getRecipes()" class="btn btn-secondary">Search Database</button></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Filter results:</label>
            <div class="col-sm-10"><input type="text" ng-model="searchRecipe" class="form-control"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Rating of at least:</label>
            <div class="col-sm-10">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{greaterthan}}
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li ng-repeat="item in ratings"><a ng-click="ratingclick(item)">{{item}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <ul class="list-group">
                <li ng-repeat = "rec in recipes | filter:searchRecipe" class="list-group-item">
                  <a href="#/recipe/{{rec.recipeId}}">{{rec.name}}</a>
                    <p>
                        Rating: {{rec.rating}}<br>
                        Preptime: {{rec.prep}}<br>
                        Cooktime: {{rec.cook}}<br>
                    </p>
                </li>
            </ul>
        </div>
    </form>

</div>
