<!DOCTYPE html>

<html data-ng-app="myapp">
<head> 
<!-- link css stylesheet first -->
<!-- <link rel="stylesheet" type="text/css" href="/style/style.css"> -->
<!-- load jQuery 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 

<script> 
$(function(){
    $("#layout").load("/layout.html"); 
});
</script>-->
<!-- load page-specific javascript -->
<script src="/script/angular.min.js"></script>
<script src="/script/angular-cookies.min.js"></script>
<script src="/script/myapp.js"></script>
<script src="/script/smartlist.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<div id="wrapper">
    <layout></layout>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div ng-controller="SmartlistController">

                <h2>Smart Shopping List</h2>
                <p>These are some ingredients you might want to consider getting.</p>

                <h2>My Smart List:</h2>
                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <ul class="list-group">
                            <li  ng-repeat = "ing in incart" class="list-group-item">
                                <div>
                                    <label class="col-sm-5 form-control-label">{{ing.name}}: {{ing.amount}} {{ing.measurement}}</label>
                                    <input type="submit" ng-click="deleteIngredient(ing)" value="Remove" class="btn btn-secondary">
                                    <input type="submit" ng-click="addToPantry(ing)" value="Remove and add to pantry" class="btn btn-secondary">
                                    <input type="submit" ng-click="addToList(ing)" value="Remove and add to shopping list" class="btn btn-secondary">

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group row">
                        <input type="submit" ng-click="addAllToPantry()" value="Add all to pantry" class="btn btn-secondary">
                        <input type="submit" ng-click="addAllToList()" value="Add all to shopping list" class="btn btn-secondary">
                    </div>
                    <div class="form-group row">
                        <button ng-click="sendChanges()" class="btn btn-primary">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
