<!DOCTYPE html>
<html ng-app="myapp">

<head>
<!-- link css stylesheet first -->
<!-- <link rel="stylesheet" type="text/css" href="/style/style.css"> -->
<!-- load jQuery 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 

<script> 
$(function(){
    $("#layout").load("/layout.html"); 
});
</script>-->
<!-- load page-specific javascript -->
<script src="/script/angular.min.js"></script>
<script src="/script/angular-cookies.min.js"></script>
<script src="/script/myapp.js"></script>
<script src="/script/createprofile.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<div id="wrapper">
    <layout></layout>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div ng-controller="CreateProfileController">

            <h2>Create Your Profile</h2>
            <h3>Personal Information</h3>
                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Username: </label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "username" class="form-control col-sm-10"> (must be at least 8 characters)</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Password: </label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "password" class="form-control col-sm-10"> (must be at least 8 characters)</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Re-enter password: </label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "repeatpassword" class="form-control col-sm-10"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">First name: </label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "first" class="form-control col-sm-10"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Last name: </label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "last" class="form-control col-sm-10"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Email: </label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "email" class="form-control col-sm-10"/></div>
                    </div>
                </form>
            <h3>Dietary Restrictions</h3>
                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row"><label class="col-sm-10 form-control-label">Check all that apply: </label></div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Nut Free" ng-model="nut_free"> Nut Free</div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Gluten Free" ng-model="gluten_free"> Gluten Free</div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Vegetarian" ng-model="vegetarian"> Vegetarian</div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Vegan" ng-model="vegan"> Vegan</div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Dairy Free" ng-model="dairy_free"> Dairy Free</div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Pork Free" ng-model="pork_free"> Pork Free</div>
                    <div class="col-sm-offset-2"><input type="checkbox" name="restrict" value="Soy Free" ng-model="soy_free"> Soy Free</div>
                </form>
            <h3>Add an ingredients you are allergic to:</h3>
                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Search:</label>
                        <div class="col-sm-8"><input type="text" ng-model="userSelection" class="form-control"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat="ing in ingredients | filter:userSelection | limitTo:5" class="list-group-item"/>
                                <div>
                                    <label class="col-sm-6 form-control-label">{{ing}}</label>
                                    <input type="submit" ng-click="addIngredient(ing)" value="Add" class="btn btn-secondary"/>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

            <h3>Allergic to:</h3>
                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat = "ing in allergic" class="list-group-item"/>
                                <div>
                                    <label class="col-sm-6 form-control-label">{{ing}}</label>
                                    <input type="submit" ng-click="deleteIngredient(ing)" value="Remove" class="btn btn-secondary"/>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <a href="/"><button ng-click="sendChanges()" class="btn btn-primary">Save Profile</button></a>
                    </div>
                </form>
            
        </div>
    </div>
</div>
</body>

</html>
