<!DOCTYPE html>

<html data-ng-app="myapp">
<head>
<!-- link css stylesheet first -->
<!-- <link rel="stylesheet" type="text/css" href="/style/style.css"> -->
<!-- load jQuery 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
$(function(){
  $("#layout").load("/layout.html");
});
</script>-->
<!-- load page-specific javascript -->
<script src="/script/angular.min.js"></script>
<script src="/script/angular-cookies.min.js"></script>
<script src="/script/myapp.js"></script>
<script src="/script/login.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<div id="wrapper">
    <layout></layout>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
			<div ng-controller="LoginController">
				<h1> Login</h1>
				<h2> Welcome to SmallRecipes </h2>
				<h3> a recipe database tailored to your small pantry</h3>
				<br>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Username:</label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "username"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Password:</label>
                        <div class="col-sm-10"><input type="text" data-ng-model = "password"></div>
                    </div>
                    <div class="form-group row">
                    	<div class="col-sm-2">
							<button type="button" ng-click="login()" class="btn btn-primary">Login</button><br>
						</div>
                    	<div class="col-sm-6">
							<a href="/profile/createprofile.html">
								<button type="button" class="btn btn-primary">Create a new account</button>
							</a>
						</div>
					</div>
                </form>
			</div>
		</div>
	</div>
</div>
</body>

</html>
