<!DOCTYPE html>

<html data-ng-app="myapp">
<head> 
<!-- link css stylesheet first -->
<!-- <link rel="stylesheet" type="text/css" href="/style/style.css"> -->
<!-- load jQuery 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 

<script> 
$(function(){
    $("#layout").load("/layout.html"); 
});
</script>-->
<!-- load page-specific javascript -->
<script src="/script/angular.min.js"></script>
<script src="/script/angular-cookies.min.js"></script>
<script src="/script/myapp.js"></script>
<script src="/script/shoppingcart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>
<div id="wrapper">
    <layout></layout>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div ng-controller="CartController">

                <h2>Shopping List</h2>
                
                <h3>Add an ingredient: </h3>

                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Search:<br></label>
                        <div class="col-sm-10"><input type="text" ng-model="userSelection" class="form-control"></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2"><small class="text-muted">Click on the ingredient you would like to add</small></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat="ing in ingredients | filter:userSelection | limitTo:10"  class="list-group-item">
                                    <div ng-click="selectIngredient(ing)">
                                    {{ing}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-12 form-control-label"> 
                            How much of this ingredient do you need?
                            <small class="text-muted">(e.g., 3 cups)</small>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">{{selected}}: <br></label>
                        <div class="col-sm-4"><input type="text" ng-model="newAmount" class="form-control"></div>
                        <div class="col-sm-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{newMeasurement}}
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                    <li ng-repeat="unit in units"><a ng-click="unitclick(unit)">{{unit}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5"><input id="otherinput" type="text" ng-model="other" class="form-control"/></div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10  col-sm-offset-2">
                            <input type="submit" ng-click="addIngredient(selected, newAmount, newMeasurement)" value="Add to shopping list"class="btn btn-secondary" />
                        </div>
                    </div>
                </form>
                <h3>My List: </h3>

                <form class="col-sm-11 col-sm-offset-1">
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <ul class="list-group">
                                <li  ng-repeat = "ing in incart" class="list-group-item">
                                    <div>
                                        <label class="col-sm-6 form-control-label">{{ing.name}}: {{ing.amount}} {{ing.measurement}}</label>
                                        <input type="submit" ng-click="deleteIngredient(ing)" value="Remove" class="btn btn-secondary"/>
                                        <input type="submit" ng-click="addToPantry(ing)" value="Remove and add to pantry" class="btn btn-secondary"/>
                                    </div>
                               </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button ng-click="sendChanges()" class="btn btn-primary">Save List</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>
