
<div>
    <h2>Explore recipes selected for you</h2>

    <form class="col-sm-11 col-sm-offset-1">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Search:</label>
            <div class="col-sm-10"><input type="text" ng-model="searchRecipe" class="form-control"></div>
        </div>
        <div class="form-group row">
            <ul class="list-group">
                <li ng-repeat = "rec in recipes | filter:searchRecipe | limitTo:15" class="list-group-item">
                    <a href="#/recipe/{{rec.id}}">{{rec.name}}</a>
                    <p>
                        Rating: {{rec.rating}}<br>
                        Preptime: {{rec.prep}}<br>
                        Cooktime: {{rec.cook}}<br>
                    </p>
                </li>
            </ul>
        </div>
    </form>
   
</div>