<!DOCTYPE html>
<html ng-app="myapp">

<head> 
<!-- link css stylesheet first -->
<!-- <link rel="stylesheet" type="text/css" href="/style/style.css"> -->
<!-- load jQuery 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 

<script> 
$(function(){
  $("#layout").load("/layout.html"); 
});
</script>-->
<!-- load page-specific javascript -->
<script src="/script/angular.min.js"></script>
<script src="/script/angular-cookies.min.js"></script>
<script src="/script/myapp.js"></script>
<script src="/script/addingredient.js"></script>

</head> 

<div id="wrapper">
    <layout></layout>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div ng-controller="AddIngredientController">
                <h2>Ingredients</h2>
                <h3>Add an ingredient</h3>
                </br>
                <form>
                    <div class="form-group row">
                        <label for="usr" class="col-sm-2">Name:</label>
                        <div class="col-sm-7"><input type="text" ng-model="userSelection" class="form-control" id="usr"></div>
                        <div class="col-sm-3"><input type="submit" ng-click="addIngredient(userSelection)" value="Add to ingredients list" class="btn btn-secondary col-sm-12"><br></div>
                    </div>
                </form>
                    <br>
                    <ul class="list-group">
                        <li  ng-repeat="ing in ingredients | filter:userSelection | limitTo:10" class="list-group-item">
                            <div>
                            {{ing}}
                            </div>
                        </li>
                    </ul>

                <p>**Please note your ingredient is assumed to violate all common allergies or dietary restricitons for the safety of our users.**</p>

                <button ng-click="sendChanges()" type="button" class="btn btn-primary">SAVE</button>

            </div>
        </div>
    </div>
</div>
</body>

</html>
